.tableFilters {
  font-size: 15px;
}

.separator {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 26px;
}

.filterWrapper {
  margin-bottom: 0.5rem;
  position: relative;
}

/* New Css */

/***** Data Table Listing *****/

.table-filters .entries-length label {
  margin-bottom: 0px;
  padding-left: 0px;
  color: #000;
}

.table-filters .entries-length select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23B4B1B1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  min-width: 120px;
  padding: 10px 45px 10px 15px;
  height: 50px;
  color: #b4b1b1;
  box-shadow: none;
  border-radius: 10px;
  font-size: 15px;
  border: var(--table-border-width, 1px) solid
    var(--input-border-color, var(--input-border-color, #b4b1b1));
  background-color: var(--bs-form-select-bg-img);

  /* box-shadow: 0 0 20px 1px rgb(23 22 22 / 3%), 0 2px 9px 0 rgb(43 43 43 / 17%); */
}

.table-filters .search-wrapper {
  position: relative;
}
.table-filters .search-wrapper .form-control {
  width: 100%;
  min-width: 300px;
  height: 50px;
  padding: 0 40px 0px 15px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid rgba(128, 128, 128, 0.67);
  border-radius: 10px;
}
.table-filters .search-wrapper svg {
  color: #b4b1b1;
}
.search-wrapper .search-btn {
  font-size: 16px;
  position: absolute;
  background: transparent;
  top: 0;
  bottom: 0;
  border-top-right-radius: 50px;
  right: 0;
  color: #fff;
  width: 50px;
  height: 100%;
  border: navajowhite;
  border-bottom-right-radius: 50px;
}

.table-filters .search-wrapper .input-icon {
  font-size: 16px;
}

.table-filters .search-wrapper .icon-left {
  left: 15px;
}

/* DrowDown Filter */
.filters-dropdown .filter-btn::before,
.filters-dropdown .filter-btn::after {
  display: none;
}
.filters-dropdown .filter-btn {
  background: #1e1e2f;
  border: 1px solid transparent;
  color: #fff;
  /* border-radius: 5px; */
  height: 50px;
  width: 50px;
  padding: 0px;
  font-size: 17px;
  text-transform: capitalize;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0s ease 0s;
}

.filters-dropdown .filter-btn svg path {
  /* fill: var(--bs-black); */
}

.filters-dropdown .filter-btn:hover,
.filters-dropdown .filter-btn.show {
  background: #ffffff;
  color: var(--bs-black);
  border: 1px solid transparent;
}

.filters-dropdown .filter-btn.show svg path,
.filters-dropdown .filter-btn:hover svg path {
  fill: var(--bs-black);
}

.filters-dropdown .dropdown-menu {
  min-width: 300px;
  background: #fff;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.filters-dropdown .dropdown-header {
  padding: 5px 0px;
}

.filters-dropdown .dropdown-menu h3.title {
  padding: 5px 20px 10px 20px;
  font-size: 20px !important;
  color: #000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  line-height: 1.1;
}

.filters-dropdown .dropdown-body {
  padding: 10px 20px 10px 20px;
  height: auto;
  max-height: 380px;
  overscroll-behavior: contain;
  overflow-y: scroll;
}
.filters-dropdown .dropdown-body::-webkit-scrollbar {
  width: 4px;
  height: 15px;
}

.filters-dropdown .dropdown-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

.filters-dropdown .dropdown-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.filters-dropdown .dropdown-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.filters-dropdown .dropdown-body::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

.filters-dropdown .filter-wrapper {
  margin-bottom: 0.8rem;
}
.filters-dropdown .filter-wrapper h6 {
  font-size: 16px;
  color: var(--input-label-color);
  font-weight: 600;
}
.filters-dropdown .filter-wrapper .fa-calendar,
.filters-dropdown .filter-wrapper .fa-clock {
  color: #b3b3b3;
}

.filters-dropdown .dropdown-footer {
  padding: 10px 20px;
}
.filters-dropdown .dropdown-footer .btn {
  font-size: 18px;
  font-weight: 600;
}

.filters-dropdown .form-label {
  text-transform: capitalize;
  padding-left: 15px;
  margin-bottom: 0.25rem !important;
  line-height: 1.1;
  /* color: var(--bs-white); */
}

.filters-dropdown .form-control {
  height: 45px;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  font-size: 15px;
  padding: 10px 15px;
  box-shadow: none;
  border: 1px solid #000;
  border-radius: 50px;
}
.filters-dropdown .form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-color: var(--bs-form-select-bg-img);
  height: 45px;
  padding: 10px 30px 10px 15px;
  background-size: 18px 14px;
  border-radius: 50px;
  border: 1px solid #000000;
}

.filters-dropdown .form-select option {
  background-color: transparent;
  color: #000;
}

.filters-dropdown .select-wrapper:after {
  color: #000000;
}

.table-filters input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  margin-right: 2px;
  /* opacity: 1; filter: invert(1); */
}

.table-filters input[type='date']::-webkit-calendar-picker-indicator:hover {
  /* opacity: 1; */
  filter: invert(0);
}

@media screen and (max-width: 575px) {
  .table-filters .search-wrap .form-control {
    min-width: auto;
  }
}
